
 .filters {
    display: flex;
    justify-content: space-between;
  } 
  .filters > span {
    padding-bottom: 20px;
  }

  .resetButton{
    width:200px;
  }


    /* Media Queries */
@media (max-width: 771px) {
   .categoryFilter{
    margin-top:10px;
   }
}